In [82]:
#importing libraries
import numpy as np #math library
import pandas as pd #data control library

In [83]:
#importing data
data = pd.read_csv("Students Social Media Addiction.csv")

#printing data
data.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [84]:
#dealing with column names
data.columns = data.columns.str.lower()
data.columns

Index(['student_id', 'age', 'gender', 'academic_level', 'country',
       'avg_daily_usage_hours', 'most_used_platform',
       'affects_academic_performance', 'sleep_hours_per_night',
       'mental_health_score', 'relationship_status',
       'conflicts_over_social_media', 'addicted_score'],
      dtype='object')

In [85]:
#dealing with missing data
data.isnull().sum()

student_id                      0
age                             0
gender                          0
academic_level                  0
country                         0
avg_daily_usage_hours           0
most_used_platform              0
affects_academic_performance    0
sleep_hours_per_night           0
mental_health_score             0
relationship_status             0
conflicts_over_social_media     0
addicted_score                  0
dtype: int64

In [86]:
# dealing with data types of each column
data.dtypes

student_id                        int64
age                               int64
gender                           object
academic_level                   object
country                          object
avg_daily_usage_hours           float64
most_used_platform               object
affects_academic_performance     object
sleep_hours_per_night           float64
mental_health_score               int64
relationship_status              object
conflicts_over_social_media       int64
addicted_score                    int64
dtype: object

In [88]:
# dealing with duplicated data
data.duplicated().sum()

np.int64(0)